In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
data['Gender'].replace({'Male':0,'Female':1},inplace=True)
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [4]:
X=data.iloc[:, 1:4].values
y=data.iloc[:,-1].values

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [9]:
X= scaler.fit_transform(X)
X

array([[-1.02020406, -1.78179743, -1.49004624],
       [-1.02020406, -0.25358736, -1.46068138],
       [ 0.98019606, -1.11320552, -0.78528968],
       ...,
       [ 0.98019606,  1.17910958, -1.46068138],
       [-1.02020406, -0.15807423, -1.07893824],
       [ 0.98019606,  1.08359645, -0.99084367]])

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2)

In [24]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()

In [25]:
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [26]:
y_pred =clf.predict(X_test)

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8875

In [28]:
param_dict = {
    "criterion" : ["gini","entropy"],
    "max_depth":[1,2,3,4,5,6,7,8,None]
}

In [29]:
#<img src="grid.png">

In [36]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(clf,param_grid=param_dict ,cv =10 , n_jobs=-1)

In [37]:
grid.fit(X_train , y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, None]})

In [38]:
grid.best_estimator_

DecisionTreeClassifier(max_depth=2)

In [39]:
grid.best_score_

0.909375

In [40]:
grid.best_params_

{'criterion': 'gini', 'max_depth': 2}